<div class="pure-g">
  <div class="pure-u-1">
    <h2>Add an animal</h2>
  </div>
</div>

<form action="/animals" method="POST" class="pure-form pure-forms-stacked" id="animal-form">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <fieldset class="pure-group">
        <label for="name">Name: </label>
        <input name="name" id="name" type="text" placeholder="Enter a name" autofocus class="pure-u-23-24">
        <label for="breed">Breed: </label>
        <input name="breed" id="breed" type="text" placeholder="Enter a breed" class="pure-u-23-24">
      </fieldset>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <fieldset class="pure-group">
        <label for="dob">Date of birth: </label>
        <input type="date" name="dob" id="dob" class="pure-u-23-24">
        <label for="gender">Gender: </label>
        <select name="gender" id="gender" class="pure-u-23-24">
          <option value="" selected="true">-Please select a gender-</option>
          <option value="M">M</option>
          <option value="F">F</option>
        </select>
      </fieldset>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <label for="family">Family: </label>
        <input type="text" name="family" id="family" placeholder="Enter a family" class="pure-u-23-24">
        <input type="submit" class="pure-button pure-button-primary pure-u-23-24" value="Add a new animal">
    </div>
  </div>
</form>

<div class="pure-g">
  <div class="pure-u-1">
    <ul id="animal-list">
    </ul>
  </div>
</div>